body {
  background-image:url('test3.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
  color:white;
}

#box1{
	/*background-color: white;*/
/*	  margin-left: auto;
  	margin-right: auto;*/

}

.jumbotron{
	background-color: rgba(0,0,0,0.7);
/*	margin-left: auto;
  margin-right: auto;*/
  text-align: center;
	  
}

/*#outerindex {
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    position: relative;
    top: 40%;
/*    left: 25%;*/
/*    -ms-transform: translate(-30%, -30%);
    transform: translate(-30%, -30%);*/


}*/

#xray_img{
	margin-left: auto;
  	margin-right: auto;
}

#modelArc{
  text-align: left;
}


@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: none;
  }
}

#spinner{
  display: none;
}

.example_imgs{
    width: 100%;
    height: 400px;
}

#team{
  
  margin-left:110%;
  


}