<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

    <title>Pneumonia Diagnosis</title>
  </head>
  <body>
    <div id='outerindex' class="container justify-content-center">
      <!-- <div class="row"> -->

      <div class="jumbotron" >
        
        <h1  style="color:#bf8040">Pneumonia Diagnosis </h1>
        

        <h5> Upload the x-ray image to check for Pneumonia with a Deep learning Model trained with PyTorch</h5>
        <br>
        <h6>Preferably upload a RGB image, single channel images will be convert to RGB</h6>

          <div id="box1" class="row justify-content-center align-items-center">
            <div class="col-8 align-self-center">
              <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary btn-light" type="submit" id="inputGroupFileAddon03" disabled="disabled">Upload</button>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name=photo onchange="readURL(this);" >
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>

              <!-- Default unchecked -->
              <!--div class="custom-control custom-checkbox">
                  <input name='is_cnn_feat' type="checkbox" class="custom-control-input" id="defaultUnchecked">
                  <label class="custom-control-label" for="defaultUnchecked">CNN Features</label>
              </div-->

              </form>
              <div id='img_box'>
                <img id="xray_img" class=".img-fluid" style="max-width: 100%; height: auto;" >
              </div>
               
            </div>
          </div> 
          <br>
          <h5>Download a 3 channel X-Ray image from the internet or directly checkout the following examples.</h5>
          <br>
  <marquee><h1>SIT&#127894;&#65039;STAR</h1></marquee>
  <marquee><i><h1 >Pneumonia Detection &#x1F525;  Final year project of cse2017 batch , for more information visit <a href="/team"><i>the team</i></a></h1></i></marquee>
          <div class="row justify-content-end">
            <div class="col-6"><div id ='spinner' class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div></div>
          </div>
          
          <br>

          <div class="row">
            <hr>
            <div class="col-sm">
              <hr>
              <h3 style="color: #00cc00">NORMAL</h3>
              <hr>
              <img type="button" onclick="enable_spinner(); window.location.href='{{ url_for( 'submit_example', example='n1' ) }}'; " src="{{ url_for('static', filename='example_imgs/n1.jpg')}}" class=" rounded float-left example_imgs" id='n1'>
              <br>
              <img type="button" onclick="enable_spinner(); window.location.href='{{ url_for( 'submit_example', example='n2' ) }}'; " src="{{ url_for('static', filename='example_imgs/n2.jpeg')}}" class=" rounded float-left example_imgs" id='n2'>
              <br>
              <img type="button" onclick="enable_spinner(); window.location.href='{{ url_for( 'submit_example', example='n3' ) }}'; " src="{{ url_for('static', filename='example_imgs/n3.jpg')}}" class=" rounded float-left example_imgs" id='n3'>
                
            </div>
            
                 
            <div class="col-sm">
              <hr>
              <h3  style="color: #C5372B">PNEUMONIA</h3>
              <hr>
              <img type="button" onclick="enable_spinner(); window.location.href='{{ url_for( 'submit_example', example='p1' ) }}';" src="{{ url_for('static', filename='example_imgs/p1.jpg')}}" class=" rounded float-right example_imgs" id='p1'>
              <br>
              <img type="button" onclick="enable_spinner(); window.location.href='{{ url_for( 'submit_example', example='p2' ) }}';" src="{{ url_for('static', filename='example_imgs/p2.jpg')}}" class=" rounded float-right example_imgs" id='p2'>
              <br>
              <img type="button" onclick="enable_spinner(); window.location.href='{{ url_for( 'submit_example', example='p3' ) }}';" src="{{ url_for('static', filename='example_imgs/p3.jpeg')}}" class=" rounded float-right example_imgs" id='p3'>
            </div>
          </div>



      </div>  
    <!-- </div>   -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
      function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#xray_img')
                    .attr('src', e.target.result);
                    // .width(300)
                    // .height(250);
            };
            document.getElementById('inputGroupFileAddon03').removeAttribute('disabled');
            reader.readAsDataURL(input.files[0]);
        }
    }

    function enable_spinner() {
            // document.getElementById('spinner').removeAttribute('disabled');
            document.getElementById("spinner").style.display = "block";
            
        }
    </script>
  </body>
</html>